
html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* Make the button styling and alignment proper */

button { padding: 5px; }

button * {
	display: inline-block;
	vertical-align: middle;
}

button img { padding-right: 5px; }

button:hover { cursor: hand; }

/* Container which holds all Nagios status lines */

#nagios-status-container {
	margin-top: 50px;
	width: 100%;
	display: table;
}

/* Status notifications, displayed to the right of buttons */

#nagios-notification-bar {
	display: none;
	margin-left: 20px;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

/* Fixed top bar, used for buttons, etc */

#nagios-select-panel {
	position: fixed; top: 0; left: 0;

	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	
	background: #eeeeee; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#eeeeee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #cccccc,  #eeeeee); /* for firefox 3.6+ */ 
}

#nagios-select-panel * {
	display: inline-block;
	vertical-align: middle;
}

#nagios-select-panel span, .nagios-select-panel button {
	display: inline-block;
	vertical-align: middle;
}

#nagios-select-panel .logo {
	margin-right: 25px;
}

/* Generic definitions for status lines */

.nagios-status {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	display: table-row;
	margin-bottom: 1px;
	cursor: hand;
	width: 100%;
	max-width: 100%;
}

.nagios-status > * {
	border-bottom: 1px solid #aaa;
}

.nagios-status:hover {
	border: 1px solid #000000;
}

.nagios-status-checkbox {
	display: none;
}

/* How to display loading "dialog" */

.loading {
	margin: 1em;
	padding: 1em;
	border: 1px solid #000000;
}

/* Colors for statuses */

.ok { background-color: #00ff00; }
.warning { background-color: #ffff55; }
.warning:hover { background-color: #ffff00; }
.critical { background-color: #ff5555; }
.critical:hover { background-color: #ff0000; }
.unknown { background-color: #ff9955; }
.unknown:hover { background-color: #ff5500; }

/* Overrides for selected statuses */

.selected {
	color: #ffffff;
	background-color: #000000;
}
.selected:hover {
	background-color: #444444 !important;
}

.statustext {
	display: table-cell;
}

.statustext.service {
	min-width: 225px;
}

.statustext.action {
	min-width: 70px;
}

.statustext.output {
}

/* All action icons need to show that they're clickable */
.statustext.action img:hover {
	cursor: hand;
}

#nagios-zoom-hostname {
	font-weight: bold;
}

.input-wrapper {
	width: 200px;
	border: solid 1px #000;
	display: inline-block;
	background: #ffffff;
}

.input-wrapper input {
	width: 175px;
	border: none;
	margin-right: 5px;
}

.input-wrapper input:focus {
	outline: 0;
}

.input-wrapper img:hover {
	cursor: hand;
}

.input-wrapper.indialog {
	display: block !important;
	width: 350px !important;
}
.input-wrapper.indialog input {
	width: 320px !important;
}

/*
 * vim: tabstop=4:softtabstop=4:shiftwidth=4:noexpandtab
 */

